<!-- start custom footer snippets -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6844644595858948"
     crossorigin="anonymous"></script>
<!-- godokan.github.io -->
<ins class="adsbygoogle"
     style="display:block; width:fit-content"
     data-ad-client="ca-pub-6844644595858948"
     data-ad-slot="7589011409"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- end custom footer snippets -->