---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "custom/customImport.scss";
@import "custom/customOverride.scss";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.btn--copyUrl {
    background-color: #4a555d;
    color: #fff
}
.btn--copyUrl:hover {
    background-color: #778086;
    color: #fff
}